modules = ["nodejs-20", "bash", "postgresql-16"]

build = "pnpm install --no-frozen-lockfile"
run = "pnpm dev"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[userenv.shared]
NODE_ENV = "development"
JWT_ISSUER = "ajkmart"
VITE_API_PROXY_TARGET = "http://127.0.0.1:5000"
ALLOW_DEV_OTP = "true"
ADMIN_SEED_PASSWORD = "Admin@123"
VAPID_CONTACT_EMAIL = "mailto:admin@ajkmart.app"
VAPID_PUBLIC_KEY = "BEmlZZIGCb7ZhembOoH02qzZlnhkFrYkib27NwFgtXBFDcvtHhhWC2hfZEHU4JpDbfHIRgbrCiM_f9gEEc_JHLg"
